<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Currency converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <h1>Currency converter!</h1>
    <form method="POST">

        <label for="from">From:</label><br>
        <select name="from" id="from">
            {% for cur in currencies %}
                <option value="{{ cur }}">{{ cur }}</option>
            {% endfor %}
        </select><br>
        <label for="to">To:</label><br>
        <select name="to" id="to">
            {% for cur in currencies %}
                <option value="{{ cur }}">{{ cur }}</option>
            {% endfor %}
        </select><br>
        <label for="amount">Amount: </label><br>
        <input id="amount" name="amount"><br><br> 
        <input type="submit" value="Submit">
    </form>
    <h3>{{ res }}</h3>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>